main {
    max-width: 840px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

h1 {
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

aside {

    width: 320px;
    margin: 1px;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 16px;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px #888;
}

P {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}